.container
	.footer
		hr(style='margin: 30px 0 10px 0;')
		p 
			|This "fcc-voting" app is built by @krasytod of freecodecamp, 
			|following the instructions of "Basejump: Build a Voting App | Free Code Camp". 
			|2016

link(rel='stylesheet', href='/css/style.css')
script(src='/scripts/bootstrap.min.js')


script.
	/*var name= "";
	var css_background="" 
	$("#sign-in-with-twitter").hover(function() {
	name = $( this ).text();
	if (name !=="Login"){
	$( this ).text("Log out");                                      
	css_background = $("#sign-in-with-twitter").css("background-color")
	$("#sign-in-with-twitter").attr({"href": window.location+"logout"});
	}
	},function() {
	if ($( this ).text() ==="Log out")
	{$( this ).text(name);
	}	
	});*/

block footer